---
import "virtual:windi.css";
import Particle from "@components/Particle";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>particle</title>
  </head>
  <body>
      <Particle client:load />
  </body>
</html>
