---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>particle</title>
  </head>
  <body>
    <div class="w-screen h-screen flex justify-center items-center bg-c3">
      <div class="w-240px h-116px">
        <div class="text-5xl tracking-widest text-center text-white">
          Particle.
        </div>
        <div class="text-xl mt-10 text-center text-white">
          {"A place for stuff <3"}
        </div>
      </div>
    </div>
  </body>
</html>
